.App {
  text-align: center;
}

@keyframes fade-in-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes app-logo-color-animation {
  0% {
		filter: hue-rotate(315deg);
  }
  100% {
		filter: hue-rotate(205deg);
  }
}

.no-scrollbar::-webkit-scrollbar,
.no-scrollbar textarea::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.no-scrollbar::-webkit-scrollbar-track,
.no-scrollbar textarea::-webkit-scrollbar-track {
	background: #000;
}
.no-scrollbar::-webkit-scrollbar-thumb,
.no-scrollbar textarea::-webkit-scrollbar-thumb {
	background: #aaa;
}

.error-color textarea {
	color: #f66;
}

.mono {
	font-family: "Share Tech Mono", Consolas, monospace !important;
}
